.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 100%;
}

.graidentBackground { 
  background: linear-gradient(to bottom, orange, transparent 64%);
 }

 .sigmaContainer {
 	padding: 10px;
 }