.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 100%;
  background: linear-gradient(to top, orange, transparent 50%);
}