.centered {
  text-align: center;
}

.container {
  height: 100%;
  overflow-y: hidden;
  max-height: stretch;
  align-items: center; 
  justify-content: center;
}

.header {
	text-align: center;
	height: 100%;
	overflow-y: hidden;
}

.searchbar {
	width: 500px;
}