.centered {
  text-align: center;
  min-height: 100%;
}

.container {
  overflow-y: hidden;
  max-height: stretch;
  align-items: center; 
  justify-content: center;
}

.header {
	text-align: center;
	height: 100%;
	overflow-y: hidden;
  box-shadow: 0 4px 2px -2px gray;
}

.floatLeft {
  float: left;
}

.logo {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.floatRight {
  float: right;
}

.twoSearchBars input{
  width: 250px;
}

.autoCompleteItem {
  margin: 4px;
  text-align: left;
  background-color: transparent;
}

.autoCompleteItemHover {
  margin: 4px;
  text-align: left;
  background-color: #eee; 
}

.about-and-settings {
  margin: 30px;
  align-items: center; 
  justify-content: center;
}